[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/date"]
	path = external/date
	url = https://github.com/HowardHinnant/date
